.remoteControllerSection{
    display: flex;
    margin: 50px auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.remoteController{
    display:grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 50px 50px;
    gap: 20px;
}

#forwardButton{
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}

#leftButton{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

#backButton{
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

#rightButton{
    grid-column: 3 / 4;
    grid-row: 2 / 2;
}

#measureCoordinatesButton{
    max-width: 100px;
    height: 50px;

    background-color: black;
    color: white;
}